@import url("./styles/header.css");
@import url("./styles/hero.css");
@import url("./styles/about.css");
@import url("./styles/create-group.css");
@import url("./styles/discounts.css");
@import url("./styles/advantages.css");
@import url("./styles/slogan.css");
@import url("./styles/links.css");
@import url("./styles/logos.css");
@import url("./styles/footer.css");

@font-face {
  font-family: "Outfit";
  src: url("./fonts/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --bg-color: #181818;
  --main-white-color: #ffffff;
  --main-dark-color: #000000;
  --primary-1-color: #954ced;
  --secondary-1-color: #2fdbbc;
  --secondary-2-color: #ffaa4c;
  --secondary-3-color: #444444;
  --secondary-4-color: #cfcfcf;
  --content-padding: 60px;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  /* letter-spacing: 0; */
  background-color: var(--bg-color);
  color: var(--main-white-color);
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  margin-bottom: 100px;
  padding: 0 var(--content-padding);
}

.contact-sales-btn {
  height: 57px;
  border-radius: 16px;
  border: transparent solid 2px;
  padding: 16px 30px;
  background-color: var(--primary-1-color);
  font-weight: 600;
  font-size: 20px;
  color: var(--main-white-color);
  cursor: pointer;
  transition: all 0.5s;
}

.contact-sales-btn:hover {
  background-color: var(--main-dark-color);
  border: var(--primary-1-color) solid 2px;
}

.main-text {
  font-weight: 600;
  font-size: 36px;
}

.main-text_accent {
  position: relative;
  display: inline-block;
  padding: 0 10px;
}

.main-text_accent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-1-color);
  transform: rotate(-2deg);
  border-radius: 30px;
  z-index: -1;
}

.burger-btn {
  width: 40px;
  height: 40px;
  padding: 10px 8px;
  cursor: pointer;
  border: 0;
  background-color: var(--bg-color);
  display: none;
}

.burger-btn__line {
  width: 100%;
  height: 2px;
  background-color: var(--main-white-color);
  border-radius: 8px;
  margin-bottom: 7px;
}

@media screen and (max-width: 580px) {
  :root {
    --content-padding: 16px;
  }

  section {
    margin-bottom: 40px;
  }

  .burger-btn {
    display: block;
  }

  .contact-sales-btn {
    width: 100%;
  }

  .main-text {
    font-size: 24px;
  }
}

@media screen and (max-width: 970px) {
}

@media screen and (max-width: 580px) {
}
